aniso8601==3.0.2
appdirs==1.4.3
appnope==0.1.0
asgiref==3.2.7
attrs==19.3.0
backcall==0.1.0
black==19.10b0
click==7.1.2
decorator==4.4.0
Django==3.1.13
django-extensions==2.1.6
django-filter==2.2.0
graphene==2.1.8
graphene-django==2.9.1
graphene-django-optimizer==0.6.2
graphql-core==2.3.1
graphql-relay==2.0.1
ipython==7.4.0
ipython-genutils==0.2.0
jedi==0.13.3
parso==0.4.0
pathspec==0.8.0
pexpect==4.7.0
pickleshare==0.7.5
promise==2.3
prompt-toolkit==2.0.9
psycopg2-binary==2.8.5
ptyprocess==0.6.0
Pygments==2.3.1
pytz==2019.1
regex==2020.4.4
Rx==1.6.1
singledispatch==3.4.0.3
six==1.12.0
sqlparse==0.3.0
toml==0.10.0
traitlets==4.3.2
typed-ast==1.4.1
wcwidth==0.1.7
